
// Colors
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white:#ffffff;
$google-blue: #4285f4;
$button-active-blue: blue;


$button-color:  #fe4914;

$fondo: #ffffff;
$color-titulo: #005c97;


